<template>
    <h3>TO DO LIST</h3>

    <div class="row">
        <form @submit.prevent="addTask">
            <label for="add">Add Task</label>
            <input class="add" type="text" id="add" v-model="newTaskName">
        </form>
    </div>

    <div class="row">
        <div class="col">Name</div>
        <div class="col">Completed</div>
        <div class="col">Completed at</div>
        <div class="col">Created at</div>
        <div class="col"></div>
    </div>
    <div class="row" v-for="task in tasks">
        <div class="col" :class="{'overline' : task.completed}">{{ task.name }}</div>
        <div class="col">{{ task.completed }}</div>
        <div class="col">{{ task.completed_at }}</div>
        <div class="col">{{ task.created_at }}</div>
        <div class="col btn" :class="{'undone' : task.completed}" @click="done(task)" v-if="task.completed">Undone</div>
        <div class="col btn" :class="{'done' : !task.completed}" @click="done(task)" v-else>Done</div>
    </div>

    <p class="error">{{ errorMessage }}</p>
</template>

<script>
export default {
    name: 'App',
    data() {
        return {
            tasks: {},
            errorMessage: '',
            newTaskName: '',
        }
    },
    methods: {
        fetchTasks() {
            axios.get('api/item').then(response => {
                if(response.data.success) {
                    this.tasks = response.data.data
                } else {
                    this.errorMessage = response.data.message
                }
            })
        },
        done(task) {
            let dateTime = new Date()
            let yyyy = dateTime.getFullYear()
            let mm = dateTime.getMonth() + 1
            let dd = dateTime.getDate()

            let hh = dateTime.getHours()
            let min = dateTime.getMinutes()
            let ss = dateTime.getSeconds()
            if (dd < 10) dd = '0' + dd;
            if (mm < 10) mm = '0' + mm;
            if (hh < 10) hh = '0' + hh;
            if (min < 10) min = '0' + min;
            if (ss < 10) ss = '0' + ss;

            let formattedDateTime = dd + '.' + mm + '.' + yyyy + ' ' + hh + ':' + min + ':' + ss
            console.log(formattedDateTime)
            // return
            axios.post('api/item/update', {
                id: task.id,
                name: task.name,
                completed: !task.completed,
                completed_at: formattedDateTime,
            }).then(response => {
                if(response.data.success) {
                    this.fetchTasks()
                } else {
                    this.errorMessage = response.data.message
                }
            })
        },
        addTask() {
            axios.post('api/item/store', {
                name: this.newTaskName
            }).then(response => {
                if(response.data.success) {
                    this.fetchTasks()
                } else {
                    this.errorMessage = response.data.message
                }
            }).finally(() => {
                this.newTaskName = ''
            })
        }
    },
    mounted() {
        console.log('mount')
        this.fetchTasks()
    }
}
</script>

<style>
h3 {
    text-align: center;
}
.row {
    border: 2px red solid;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}
.row:first-child {
    font-weight: bolder;
    background: #d7d7d7;
    margin-top: 30px;
}
.col {
    border-right: 2px blue solid;
    padding: 5px;
    width: 100%;
    text-align: center;
}
.btn:hover {
    cursor: pointer;
}
.undone {
    background: #fac9c9;
}
.done {
    background: #c9fad9;
}
.col:last-child {
    border: none;
}
.overline {
    text-decoration: line-through;
}
</style>
